<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Merci pour ta commande <%= @user.first_name %> <%= @user.last_name %> !</h1>
    <p>
     Tu as passé commandé de la photo <%= @order.title %> ? Très bon choix
    </p>
    <p>
      La voici: <%= image_tag attachments['image.jpg'].url %>
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
    <p> Reviens vite nous voir sur les 4 chatons fantastiques ! </p>
  </body>
</html>


