<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row justify-content-center">
    <div class="field">
      <%= form.label :first_name, :class => "" %>
      <%= form.text_field :first_name, :class => "form-control" %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="field">
      <%= form.label :last_name, :class => "" %>
      <%= form.text_field :last_name, :class => "form-control" %>
    </div>
  </div>

  <div class="row actions justify-content-center">
    <%= form.submit :class => "btn btn-success btn-sm" %>
  </div>
<% end %>
