<div class="container">
	<p id="notice"><%= notice %></p>

  <div class="row">
  	<div class="col">
  		<h4>
  			<%= @user.first_name + " " + @user.last_name + " " %>
  			<span class="small"><%= link_to ' (Edit)', edit_user_path(@user), :class => "link" %></span>
  		</h4>
  	</div>
  </div>

  <div class="row mt-4">
  	<div class="col">
  		<h5>My orders</h5>
  	</div>
  </div>

  <div class="row"> 
  	<div class="col">
			<div class="table-responsive">
				<table class="table">
					<thead class="">
					<tr>
						<th class="text-center">#</th>
						<th>Date</th>
						<th>Items</th>
						<th class="text-center">Amount</th>
						<th class="text-center">Status</th>
					</tr>
				</thead>
				<tbody>

					<% if @my_orders != nil %>
						<% @my_orders.each do |order| %>
						<tr>
							<td class="text-center"><%= order.id %></td>
							<td><%= order.created_at %></td>
							<td>
								<% order.order_items.each do |order_item| %>
									<%= order_item.item.title %><br>
								<% end %>
							</td>
							<td class="text-center"><%= sum_order(order)%> €</td>
							<td class="text-success text-center">Done</td>
							
						</tr>
						<% end %>	
					<% end %>
				</tbody>
				</table>
  		</div>
  	</div>
	</div>
</div>