<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>
  <div class="page-header" filter-color="orange">
    <div class="page-header-image" style="background-image:url(../assets/img/login.jpg)"></div>
    <div class="content">
      <div class="container">
        <div class="col-md-5 ml-auto mr-auto">
          <div class="card card-login card-plain">
            <form class="form" method="" action="">
              <div class="card-header text-center">
                <div class="logo-container">
                  <!-- <img src="../assets/img/now-logo.png" alt=""> -->
                  <!-- <%= image_tag 'chatons/0.jpg', class:'rounded img-raised' %> -->
                </div>
              </div>
              <div class="card-body">
                <h4 class="card-title text-center">Change your password</h4>
                <div class="input-group form-group-no-border input-lg">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                  </div>
                  <% if @minimum_password_length %>
                    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class:'form-control', placeholder:"New password (#{@minimum_password_length} characters minimum)" %>
                  <% else %>
                    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class:'form-control', placeholder:"New password" %>
                  <% end %>
                </div>
                <div class="input-group form-group-no-border input-lg">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                  </div>
                  <%= f.password_field :password_confirmation, autocomplete: "off", class:'form-control', placeholder:'Confirm new password'%>
                </div>
              </div>
              <div class="card-footer text-center">
                <%= f.submit "Change my password", class:'btn btn-primary btn-round btn-lg btn-block' %>
              </div>
              <div class="pull-left">
                <h6>
                  <%= render "devise/shared/links", class:'link footer-link' %>
                </h6>
              </div>
              <div class="pull-right">
                <h6>
                  <a href="#pablo" class="link footer-link">Need Help?</a>
                </h6>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <footer id="sticky-footer" class="footer">
    <div class="container">
      <nav>
        <ul>
          <li><a href="#creative">Creative Tim</a></li>
          <li><a href="#creative">About Us</a></li>
          <li><a href="#creative">Blog</a></li>
          <li><a href="#creative">License</a></li>
        </ul>
      </nav>
      <div class="copyright">
        &copy;2019, Designed by
        <a href="http://www.invisionapp.com">Invision</a>. Coded by
        <a href="https://www.creative-tim.com">Creative Tim</a>.
      </div>
    </div>
  </footer>