<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="page-header" filter-color="orange">
    <div class="page-header-image" style="background-image:url(../assets/img/login.jpg)"></div>
    <div class="content">
      <div class="container">
        <div class="col-md-5 ml-auto mr-auto">
          <div class="card card-login card-plain">
            <form class="form" method="" action="">
              <div class="card-header text-center">
                <div class="logo-container">
                  <!-- <img src="../assets/img/now-logo.png" alt=""> -->
                </div>
              </div>
              <div class="card-body">
              	<h4 class="card-title text-center">Forgot your password ?</h4>
                <div class="input-group form-group-no-border input-lg">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-envelope"></i></span>
                    
                  </div>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control', placeholder:'Email' %>
                </div>
              </div>
              <div class="actions">
                <%= f.submit "Send me reset password instructions",class:'btn btn-warning btn-round btn-lg btn-block' %>
              </div>
            <% end %>
            <div class="pull-left">
              <h6>
                <%= render "devise/shared/links", class:'link footer-link' %>
              </h6>
            </div>
            <div class="pull-right">
              <h6>
                <a href="#pablo" class="link footer-link">Need Help?</a>
              </h6>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>