<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Merci pour ta commande <%= @user.first_name %> <%= @user.last_name %> !</h1>
    <p>
      Et voilà ta commande: <br>
    </p>
    <table style="width:100%;border:1px solid black;text-align:left;border-collapse:collapse;">
      <tr style="border:1px solid black;text-align:left;border-collapse:collapse;">
        <th>Produit</th>
        <th>Description</th>
        <th>Link to image</th>
        <th>Prix</th>
      </tr>
      <% @items.each do |item| %>
        <tr style="border:1px solid black;text-align:left;border-collapse:collapse;">
          <td><strong><%= item.title %></strong></td>
          <td><%= item.description %></td>
          <td><%= link_to item.title url_for(item.image) %></td>
          <td><%= item.price %></td>
        </tr>
      <%end %>
    </table>
    <p>
      Pour accéder à ton espace client, connecte-toi à : <%= link_to "ton profil", new_user_session_url %>
    </p>
    <p> Reviens vite nous voir sur les 4 chatons fantastiques ! </p>
    <p>Bisous</p>
  </body>
</html>