<div class="container">

  <div class="row">
  	<div class="col mt-2">
  		<h2 class="title"><%= @item.title %></h2>
			<p id="notice"><%= notice %></p>
  	</div>
  </div>
	
	<div class="row mb-3">
		<div class="col-md-5 mr-auto">
	  	 <%= image_tag(@item.image) %> 
		</div>

		<div class="col-md-7">
			<h5 class="category">Description</h5>
			<p><%= @item.description %></p>
		</div>
	</div>
	
	<div class="row align-items-center ">


		<div class="col-md-2 ml-auto text-center">
			<span class="title"><%= @item.price %> €</span>
		</div>

		<div class="col-md-2">
			<% if logged_in? %>
				<%= button_to "Ajouter au panier", item_join_table_cart_items_path(@item.id), {method: :post, :class => "btn btn-lg btn-primary"} %>
				<%= button_to "Voir mon panier", cart_path(@current_cart), {method: :get, :class => "btn btn-lg btn-primary"} %>
			<% end %>
		</div>
	</div>

	<div class="row mt-5">
		<div class="col-md text-right">
			<%= link_to 'Edit', edit_item_path(@item) %> |
			<%= link_to 'Back', items_path %>
		</div>
	</div>

</div>
 