<!DOCTYPE html>
<html>
  <head>
    <title>PlusDeChatounes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="landing-page  d-flex flex-column">

    <% if admin_navbar? %>
      <%= render 'layouts/navbar_admin' %>
    <% else %>
      <%= render 'layouts/navbar' %>
    <% end %>
 

    <%= render 'layouts/flash'%>

    <div id="page-content">
      <%= yield %>
    </div>

    <% current_uri = request.env['PATH_INFO'] %>
    <% if current_uri != "/users/sign_up" && current_uri != "/users/sign_in"  %>
      <%= render "/layouts/footer" %>
    <% end %>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>

  </body>
</html>